################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Oogi.Identity/.vs/Oogi.Identity/v15
/Oogi.Identity/Oogi.Identity/bin/Debug
/Oogi.Identity/Oogi.Identity/obj/Debug
/Oogi.Identity/Oogi.Identity/obj/Debug
/Oogi.Identity/packages
